.hero-area{
    padding: 140px 0;
}
.hero-text{
    font-size: 3.5rem;
    font-weight: 700;

}

.second-txt{
    color: #47c335;
}

.info-text h4{
    color: #47c335;
}

.pm-btn{
    color: #fff !important;
    background-color: #47c335 !important;
}
.pm-btn:hover{
    color: #fff !important;
    background-color: rgb(0, 0, 0) !important;
}

.review-section {
    background-color: rgb(241 240 240 / 37%);
}
@media (max-width: 600px) {
    .hero-area{
        text-align: center;
        padding: 60px 0;
    }
    .hero-text{
        font-size: 3rem;
        font-weight: 700;
    
    }
    .review-section {
        overflow: hidden;
    }
}
td {
    padding: 3px 0px !important;
}

